{
  "project_info": {
    "project_number": "523234517761",
    "firebase_url": "https://giggles-bd72f.firebaseio.com",
    "project_id": "giggles-bd72f",
    "storage_bucket": "giggles-bd72f.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:523234517761:android:ce8dafadd1529471",
        "android_client_info": {
          "package_name": "com.superserious.giggles"
        }
      },
      "oauth_client": [
        {
          "client_id": "523234517761-vrhner52g2m5sedgcniphqqilvhuagi4.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.superserious.giggles",
            "certificate_hash": "SEKRET"
          }
        },
        {
          "client_id": "523234517761-q61r6ua6117do346q62skdhhsjnh4565.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.superserious.giggles",
            "certificate_hash": "SEKRET"
          }
        },
        {
          "client_id": "523234517761-k0j2mp0dp3ouq7oj71ugi9vp4p06bcgd.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "SEKRET"
        }
      ],
      "services": {
        "analytics_service": {
          "status": 1
        },
        "appinvite_service": {
          "status": 2,
          "other_platform_oauth_client": [
            {
              "client_id": "523234517761-k0j2mp0dp3ouq7oj71ugi9vp4p06bcgd.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        },
        "ads_service": {
          "status": 2
        }
      }
    }
  ],
  "configuration_version": "1"
}
